.clients {
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);

  @media screen and (min-width: 1200px) {
    margin-right: calc(-1 * 30px);
    margin-bottom: 0;
  }
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color $primary-time $primary-cubic,
    border-color $primary-time $primary-cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    max-width: 170px;
  }
}

.clients__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 60px;
}

.clients__icon {
  fill: currentColor;
}
