.team {
  background-color: #f5f4fa;
}

.team__block {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
  @media screen and (min-width: 1200px) {
    margin-right: calc(-1 * 30px);
  }
}

.team__card {
  margin-bottom: 30px;
  text-align: center;

  background-color: $primary-color;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
  }
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: $title-text-color;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}

.team__content {
  margin-bottom: 16px;
}

.team__img {
  width: 450px;
  height: 460px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
